/* 전체 영역 */
.list{
    width: 100%;
    min-height: 100vh;

    padding: 30px 0;

    background-color: #f4f6fb;

    box-sizing: border-box;
}

/* ul */
.list ul{
    width: min(90%, 850px);

    margin: 0 auto 35px auto;
    padding: 25px;

    border-radius: 24px;

    background-color: white;

    box-shadow: 0 4px 20px rgba(0,0,0,0.08);

    box-sizing: border-box;
}

/* li */
.list li{
    list-style: none;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;

    margin: 1rem 0;
    padding: 1.2rem 1.4rem;

    border-radius: 18px;

    background-color: #f8f9fc;

    transition: 0.2s ease;

    box-sizing: border-box;
}

/* hover */
.list li:hover{
    transform: translateY(-2px);

    box-shadow: 0 5px 15px rgba(0,0,0,0.08);

    background-color: white;
}

/* 체크박스 */
input[type="checkbox"]{
    width: 1.3rem;
    height: 1.3rem;

    cursor: pointer;

    accent-color: #4b7bec;

    flex-shrink: 0;
}

/* 제목 */
.list_title{
    margin: 0;

    flex: 1;

    font-size: 20px;
    font-weight: 700;

    color: #222;

    word-break: break-word;
}

/* 날짜 */
.list_date{
    margin: 0;
    font-size: 0.9rem;

    color: #777;

    white-space: nowrap;
}

/* 완료된 일정 */
.done{
    opacity: 0.55;

    background-color: #ececec;
}

/* 완료 텍스트 */
.done .list_title,
.done .list_date{
    text-decoration: line-through;
}

/* 추가 버튼 */
.add_btn{
    position: fixed;

    right: 35px;
    bottom: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;

    border-radius: 50%;

    background-color: #4b7bec;

    color: white;

    font-size: 2rem;
    text-decoration: none;

    box-shadow: 0 6px 20px rgba(75,123,236,0.35);

    transition: 0.2s;
}

/* 버튼 hover */
.add_btn:hover{
    transform: scale(1.08);

    background-color: #3867d6;
}

/* 모바일 */
@media (max-width: 600px){

    .list ul{
        padding: 18px;
    }

    .list li{
        flex-direction: row;

        padding: 1rem;
    }

    .list_date{
        font-size: 0.8rem;
    }

    .add_btn{
        width: 50px;
        height: 50px;

        font-size: 1.7rem;

        right: 20px;
        bottom: 20px;
    }
}

.list_content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.delete_btn{
    border: none;
    background: transparent;

    cursor: pointer;

    font-size: 1rem;

}

.react-calendar{
    margin: 40px auto;
    border: 2px solid navy ;
}

.dot{
    width: 6px;
    height: 6px;

    margin: 2px auto 0 auto;

    border-radius: 50%;

    background-color: #4b7bec;
}

.react-calendar__tile--active{
    background-color: hotpink !important;
    color: black !important; 
}